//color
$red: red;
$white: #eee;
$smoke: rgba(238, 238, 238, 0.842);
$grey: rgb(56, 56, 65);
//size
$smalltitle: 35px;
$largetitle: 55px;
$sizecontent: 18px;

//screen
$zero: 1px;
$XS: 414px;
$SM: 600px;
$MD: 800px;
$XL: 900px;
$LG: 1200px;
//khoang cach
$marginbottom: 50px;
$widthbody: 90vw;
$widthsmall: 370px;
$widthmedium: 720px;
$paddinglarge: 30px 50px;
$widthdestop: 1140px;
//class
