body {
  position: relative;
  margin: 0;
}
.follow {
  background: $smoke;
  height: 450px;
  .container-follow {
    @include position(absolute, "", "", "", 50%, "", "");
    padding: 20px 0;
    transform: translateX(-50%);
    .slide-photo-2 {
      @include display-flex("", "", center, "");
      overflow: hidden;
      .photo-follow {
        @include width(240px, 240px, 0px 12px);
      }
    }
  }
}
